<% provide(:title, @event.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>             <%= @event.name %></h1>
      <h2>Description: <%= @event.description %></h2>
	  <h2>Date:        <%= @event.event_date%></h2>
    </section>
  </aside>
  
  <div class="span8">
	<%= render 'attend_form' if signed_in? %>
    <% if @users.any? %>
      <h3>Users (<%= @users.count %>)</h3>
      <ol class="myusers">
        <%= render @users %>
      </ol>
    <% end %>
  </div>
</div>
